{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "parserOptions": {
  },
  "rules": {
    "arrow-parens": ["warn", "always"],
    "curly": ["warn", "all"],
    "eqeqeq": "warn",
    "no-console": "warn",
    "no-extra-semi": "warn",
    "no-unused-vars": "warn",
    "semi": ["warn", "never", { "beforeStatementContinuationChars": "always" }],
    "strict": ["warn", "safe"]

  }
}
